<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="danbroid.searchviewdemo">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".activities.MainActivity"
      android:label="@string/app_name"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".activities.CustomSuggestionLayoutActivity"
      android:label="Custom Suggestion Layout"
      android:theme="@style/AppTheme.NoActionBar.Demo3" />

    <activity
      android:name=".activities.DarkDropDownActivity"
      android:label="Dark Dropdown"
      android:launchMode="singleTop"
      android:theme="@style/AppTheme.NoActionBar.Demo2">

      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>

      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />
    </activity>

    <activity
      android:name=".activities.LightDropDownActivity"
      android:label="Light Dropdown"
      android:launchMode="singleTop"
      android:theme="@style/AppTheme.NoActionBar.Demo3">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>

      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />
    </activity>


    <activity
      android:name=".activities.SearchDialogActivity"
      android:label="Search Dialog"
      android:launchMode="singleTop"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>

      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />

    </activity>

    <activity
      android:name=".activities.FloatingSearchActivity"
      android:label="Floating Search"
      android:launchMode="singleTop"
      android:theme="@style/AppTheme.NoActionBar"></activity>

    <provider
      android:name="danbroid.searchviewdemo.CheeseSuggestionsProvider"
      android:authorities="danbroid.searchviewdemo.CheeseSuggestionsProvider"
      android:exported="false" />
  </application>

</manifest>